@page "/"
@using PlotterDuck.Components.Models

<h1>Hello, world!</h1>

Welcome to your new app.

@message

@FileSystem.AppDataDirectory
<br>
Application Data:
@Environment.GetFolderPath(Environment.SpecialFolder.ApplicationData);
<br>
Local Application Data:
@Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData);
<br>
Resources:
@Environment.GetFolderPath(Environment.SpecialFolder.Resources);

@code
{
    string message = PlatformHelper.getPersonal();
}
